:host {
  display: block;
  margin-top: 2rem;
  max-width: 600px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.query {
  flex: 1;
}

.order {
  margin-top: 0.25rem;
}
